build/
demos/
src/external/
src/ompl/control/
src/ompl/datastructures/
src/ompl/extensions/
src/ompl/geometric/
src/ompl/tools/
src/ompl/util/
CMakeModules/
tests/
scripts/
doc/
py-bindings/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
